/add.py
/apache-tomcat-7.0.105
/chromedriver_win32 (1)
/Chromium.lnk
/CrudWeb.rar
/Demo2
/desktop.ini
/Devisha Background Check Form - Applicant Details.docx
/devisha DL copy.jpeg
/devisha passport copy.pdf
/Devishaben Resume.docx
/Dreamweaver[1].v8_.0
/Dreamweaver[1].v8_.0.rar
/eclipse - Shortcut.lnk
/Git Bash.lnk
/hh
/Iphone Video
/jar_files
/jar_files.zip
/mychrome
/myporject.zip
/mysql-connector.jar
/newchrome
/Old Firefox Data
/paycheck
/Postman.lnk
/python programs
/Roblox Player.lnk
/Roblox Studio.lnk
/TANUPAYCHECK(DEVISHA)
/Visual Studio Code.lnk
/WaveBrowser.lnk
/WebDriverioCucumber
/Work - Edge.lnk
/young soft exhbit documents.pdf
/Zoom.lnk
/zoom_1